@import "./utils/variables";
@import "./utils/base";

@import "./components/benefits-section";
@import "./components/clients-section";
@import "./components/filter-buttons";
@import "./components/footer";
@import "./components/header";
@import "./components/hero";
@import "./components/modal";
@import "./components/portfolio-projects";
@import "./components/team-section";
@import "./components/works";
