$border: rgba(236, 236, 236, 1);
$black: #000000;
$accent: #2196f3;
$grey: #757575;
$white: #ffffff;
$text: #212121;
$focus: #188ce8;
$memberbgc: #f5f4fa;
$headfoot: #2f303a;
$icons: #afb1b8;
$font-btn: inherit;
$input-border: rgba(33, 33, 33, 0.2);
