.benefits__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;

  text-align: center;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}
.benefits__item {
  display: block;
  @media (min-width: 480px) {
    flex-direction: row;
    flex-basis: calc((100% - 30px) / 2);
  }
  @media (min-width: 768px) {
    flex-direction: row;
    flex-basis: calc((100% - 90px) / 4);
  }
}

.benefits__background {
  display: flex;
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;

  background-color: $memberbgc;
  border-radius: 4px;
  @media (min-width: 480px) {
    width: 354px;
  }
  @media (min-width: 768px) {
    width: 270px;
  }
}
.benefits__title {
  margin-bottom: 10px;
  line-height: 1.14;
  text-align: left;

  text-transform: uppercase;

  color: $text;
}
.benefits__text {
  text-align: left;
  line-height: 1.71;
  /* or 171% */

  color: $grey;
}
