.clients {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: $text;
  margin-bottom: 50px;
  @media (min-width: 1200px) {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.clients__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  text-align: center;
  @media (min-width: 480px) {
    flex-direction: row;
    flex-basis: calc((100% - 30px) / 2);
  }
  .clients__link {
    width: 170px;
    height: 92px;
    border: 1px solid $icons;
    fill: $icons;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border: 1px solid $accent;
      fill: $accent;
    }
  }
}
