.header-conteiner {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
}
.logo__header {
  margin-right: 93px;
  padding: 24px 0 25px 0;
  align-items: center;

  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  color: $black;

  .web__logo {
    color: $accent;
  }
}

.site__nav {
  display: flex;
  align-items: center;
  .header__menu {
    width: 40px;
    height: 40px;
    border: none;
    background-color: $white;

    display: none;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
      display: flex;
    }
  }

  .nav__list {
    display: none;
    @media (min-width: 768px) {
      display: flex;
    }

    .nav__item + .nav__item {
      margin-left: 50px;
    }

    .nav__link {
      position: relative;
      display: block;
      padding: 32px 0;
      text-decoration: none;
      font-style: normal;
      font-weight: 500;

      line-height: 1.14;
      letter-spacing: 0.02em;

      color: $text;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        color: $accent;
      }
    }

    .nav__link--current {
      color: $accent;

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -2px;
        border-radius: 2px;
        background-color: $accent;
      }
    }
  }
}

.contacts__header {
  display: none;
  align-items: center;
  @media (min-width: 768px) {
    display: flex;
  }

  .svg__mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
  .svg__phone {
    width: 10px;
    height: 15px;
    margin-right: 10px;
  }

  .contacts__item + .contacts__item {
    margin-left: 30px;
  }

  .item__link {
    display: flex;
    align-items: center;
    padding: 32px 0;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;

    line-height: 1.14;
    letter-spacing: 0.02em;

    color: $grey;
    fill: $grey;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      font-style: normal;
      font-weight: 500;

      line-height: 1.14;
      letter-spacing: 0.02em;

      color: $accent;
      fill: $accent;
    }
  }
}
