.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;

  width: 528px;
  height: 581px;
  padding: 40px;
  top: 50%;
  left: 50%;
  background-color: #fff;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon__close {
  fill: $black;
}
.close__button {
  appearance: none;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $white;
  cursor: pointer;
}
.modal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: $text;
}
/* Form */
.form__label {
  display: block;
  margin-top: 10px;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;
  color: $grey;
}

.form__control {
  position: relative;
  &:focus-within .form__icon {
    fill: $accent;
  }
}

.form__input {
  width: 100%;

  padding: 11px 12px 11px 42px;
  border: 1px solid $input-border;
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: $accent;
  }
}

.wraps {
  position: relative;
}

.form__icon {
  position: absolute;
  top: 50%;

  left: 12px;
  transform: translateY(-50%);
  fill: currentcolor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea {
  margin-bottom: 20px;
  outline: none;
  width: 100%;
  height: 120px;
  padding: 12px;
  border: 1px solid $input-border;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;

  &:focus {
    border-color: $accent;
  }
}

/* Checkbox */
.submit__button {
  width: 200px;
  height: 50px;

  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  position: absolute;
  bottom: 40px;
  right: 164px;
  background: $accent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;
  color: $white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $focus;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}

.checkbox__input {
  appearance: none;
}

.checkbox__label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: $grey;
  position: relative;
  padding-left: 28px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.checkbox__label::before {
  position: absolute;

  top: 0;
  left: 0;
  width: 16px;
  height: 15px;
  border: 1px solid gray;
  border-radius: 2px;
  content: "";
}

.checkbox__label::after {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 15px;

  background-image: url("../images/check.svg");

  opacity: 0;
  content: "";
}

.checkbox__input:checked + .checkbox__label::after {
  opacity: 1;
}
.color__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* identical to box height, or 171% */

  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: $accent;
}
